SCRAPPER PARA TIKTOK.json
{
  "name": "SCRAPPER PARA TIKTOK",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -336,
        0
      ],
      "id": "1d5a1656-15e7-4983-8cc9-669e93a5445f",
      "name": "Ejecutar Flujo Manualmente"
    },
    {
      "parameters": {
        "operation": "delete",
        "collection": "resumen_ia_tiktok"
      },
      "type": "n8n-nodes-base.mongoDb",
      "typeVersion": 1.2,
      "position": [
        144,
        0
      ],
      "id": "e26a5a5c-da53-4a8f-a757-6c4222c601b7",
      "name": "Limpiar Recomendaciones Antiguas",
      "credentials": {
        "mongoDb": {
          "id": "kfT2nltyadM7X3nZ",
          "name": "MongoDB account 3"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Palabras de búsqueda\nconst busquedas = [\"comida quito\", \"comida guayaquil\", \"ropa quito\", \"ropa guayaquil\"];\n\n// Crear un item de salida por cada búsqueda\nreturn busquedas.map(busqueda => {\n  \n  // Este es el JSON de input completo para Apify\n  const apifyInput = {\n    \"excludePinnedPosts\": false,\n    \"maxProfilesPerQuery\": 10,\n    \"profileScrapeSections\": [\n      \"videos\"\n    ],\n    \"profileSorting\": \"latest\",\n    \"proxyCountryCode\": \"EC\",\n    \"resultsPerPage\": 10,\n    \"scrapeRelatedVideos\": false,\n    \"searchQueries\": [ busqueda ], // <-- AQUÍ USAMOS LA BÚSQUEDA\n    \"shouldDownloadAvatars\": false,\n    \"shouldDownloadCovers\": false,\n    \"shouldDownloadMusicCovers\": false,\n    \"shouldDownloadSlideshowImages\": false,\n    \"shouldDownloadSubtitles\": false,\n    \"shouldDownloadVideos\": false\n  };\n\n  // Devolvemos el item en el formato que n8n espera,\n  // con el JSON de Apify dentro de un campo llamado \"apify_input\".\n  return {\n    json: {\n      \"apify_input\": apifyInput\n    }\n  };\n});"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        384,
        0
      ],
      "id": "a22f1326-1d55-4996-861e-41d3c5fa3261",
      "name": "Generar Búsquedas (Queries)"
    },
    {
      "parameters": {
        "operation": "Run actor and get dataset",
        "actorId": {
          "__rl": true,
          "value": "https://console.apify.com/actors/GdWCkxBtKWOsKjdch/input",
          "mode": "url"
        },
        "customBody": "={{ $json.apify_input }}",
        "timeout": {}
      },
      "type": "@apify/n8n-nodes-apify.apify",
      "typeVersion": 1,
      "position": [
        624,
        0
      ],
      "id": "06795601-15db-4100-91a1-b0fb268c3177",
      "name": "Scrapear Videos de TikTok",
      "credentials": {
        "apifyApi": {
          "id": "0UcDPgYDRq3qPS5F",
          "name": "CORREO PERSONAL"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "ee625472-535c-4b93-a725-b5ac900b12ee",
              "name": "ID",
              "value": "={{ $json.id }}",
              "type": "string"
            },
            {
              "id": "246647c7-ab2e-4092-89e5-f670744df307",
              "name": "Description",
              "value": "={{ $json.text ? $json.text\n  .replace(/#[\\wáéíóúÁÉÍÓÚñÑ]+/g, '')   // elimina hashtags\n  .replace(/[\\r\\n]+$/, '')               // elimina saltos de línea SOLO al final\n  .replace(/\\s{2,}/g, ' ')               // elimina espacios dobles\n  .trim() : '' }}",
              "type": "string"
            },
            {
              "id": "5108d728-f5e9-4dc3-a7c6-1161ed82aff2",
              "name": "URL",
              "value": "={{ $json.webVideoUrl }}",
              "type": "string"
            },
            {
              "id": "90488e0d-6abc-4a1e-becb-b2204ec9826d",
              "name": "Video_Cover",
              "value": "={{ $json.videoMeta.coverUrl }}",
              "type": "string"
            },
            {
              "id": "e326c54a-ff85-4ce3-9ca1-714a55c809bd",
              "name": "Views",
              "value": "={{ $json.playCount }}",
              "type": "number"
            },
            {
              "id": "2b0cbf91-403b-4e2c-b01e-c0c31d5b572f",
              "name": "Likes",
              "value": "={{ $json.diggCount }}",
              "type": "number"
            },
            {
              "id": "bc2f77ea-f26b-44a5-8b00-d84755e76cec",
              "name": "Comments",
              "value": "={{ $json.commentCount }}",
              "type": "number"
            },
            {
              "id": "c01eb7a6-af32-4d90-8649-53af9441278b",
              "name": "Shares",
              "value": "={{ $json.shareCount }}",
              "type": "number"
            },
            {
              "id": "6bb11fd0-63c5-47ce-836c-55e85b6fe4ca",
              "name": "Author_Nickname",
              "value": "={{ $json.authorMeta.nickName }}",
              "type": "string"
            },
            {
              "id": "36fe7132-216f-486a-bd36-755298318999",
              "name": "Author_Name",
              "value": "={{ $json.authorMeta.name }}",
              "type": "string"
            },
            {
              "id": "725a24cc-9c94-4f22-a8d2-652e51f98dbf",
              "name": "hashtag",
              "value": "={{ $json.hashtags ? $json.hashtags.map(h => h.name).filter(n => n && n.trim()) : [] }}",
              "type": "array"
            },
            {
              "id": "3e5f95ce-9109-463c-82bb-1daa9d9da2bc",
              "name": "Create_Date",
              "value": "={{ $json.createTimeISO }}",
              "type": "string"
            },
            {
              "id": "ddc3a69b-6ae3-427c-bf75-b5c2b06e903b",
              "name": "Followers",
              "value": "={{ $json.authorMeta.fans }}",
              "type": "number"
            },
            {
              "id": "8d94f60c-5817-41f6-b838-ccc16e844d1e",
              "name": "Video_Count",
              "value": "={{ $json.authorMeta.video }}",
              "type": "number"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        864,
        0
      ],
      "id": "ae922454-9006-44e6-b2f9-c84e2054eddc",
      "name": "Separar Listas de Videos"
    },
    {
      "parameters": {
        "jsCode": "// Código para detectar ciudad en posts de Instagram/TikTok\nconst items = $input.all();\n\n// Palabras clave para cada ciudad (en minúsculas)\nconst quitoKeywords = [\n  'quito', 'qto', 'uio', 'pichincha', 'mitaddelmundo', 'mitad del mundo',\n  'cumbaya', 'tumbaco', 'calderón', 'calderon', 'san rafael', 'sanrafael',\n  'conocoto', 'la carolina', 'lacarolina', 'mariscal', 'guapulo',\n  'el panecillo', 'elpanecillo', 'norte de quito', 'sur de quito',\n  'centro histórico quito', 'centrohistorico', 'plaza grande',\n  'la floresta', 'lafloresta', 'la ronda', 'laronda'\n];\n\nconst guayaquilKeywords = [\n  'guayaquil', 'guayaco', 'gye', 'guayas', 'samborondon', 'samborondón',\n  'via a la costa', 'vialacosta', 'urdesa', 'centro de guayaquil',\n  'malecón 2000', 'malecon 2000', 'malecon2000', 'las peñas', 'laspeñas',\n  'cerro santa ana', 'cerrosantaana', 'santana', 'kennedy', \n  'norte de guayaquil', 'sur de guayaquil', 'alborada', 'la garzota', \n  'lagarzota', 'mall del sol', 'malldelsol', 'riocentro', 'entre ríos',\n  'entrerios', 'duran', 'durán'\n];\n\n// Función para limpiar y normalizar texto\nfunction normalizeText(text) {\n  if (!text) return '';\n  return text\n    .toLowerCase()\n    .normalize(\"NFD\").replace(/[\\u0300-\\u036f]/g, \"\") // Quitar acentos\n    .replace(/[^\\w\\s]/g, '') // Quitar caracteres especiales\n    .trim();\n}\n\n// Función para buscar keywords en texto\nfunction findCity(text, keywords) {\n  const normalized = normalizeText(text);\n  return keywords.some(keyword => normalized.includes(normalizeText(keyword)));\n}\n\n// Procesar cada item\nconst processedItems = items.map(item => {\n  const data = item.json;\n\n  // Para compatibilidad entre Instagram y TikTok:\n  const caption = data.caption || data.text || '';\n  const locationSlug = data.location_slug || '';\n  const hashtags = Array.isArray(data.hashtags || data.hashtag)\n    ? (data.hashtags || data.hashtag).join(' ')\n    : (typeof data.hashtags === 'string' ? data.hashtags : '');\n\n  // Combinar todos los textos disponibles\n  const allText = `${caption} ${locationSlug} ${hashtags}`;\n\n  // Detectar ciudad\n  const isQuito = findCity(allText, quitoKeywords);\n  const isGuayaquil = findCity(allText, guayaquilKeywords);\n\n  // Determinar ciudad final\n  let ciudad = '';\n  if (isQuito && !isGuayaquil) {\n    ciudad = 'Quito';\n  } else if (isGuayaquil && !isQuito) {\n    ciudad = 'Guayaquil';\n  } else if (isQuito && isGuayaquil) {\n    ciudad = 'Ambas';\n  } else {\n    ciudad = 'No detectado';\n  }\n\n  // Retornar item con el nuevo campo\n  return {\n    json: {\n      ...data,\n      ciudad: ciudad\n    }\n  };\n});\n\nreturn processedItems;\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1104,
        0
      ],
      "id": "252726ca-f988-4f76-a41d-b928fa7b5578",
      "name": "Asignar Ciudad (Quito/GYE)"
    },
    {
      "parameters": {
        "jsCode": "// ===============================================\n// DETECTOR DE CATEGORÍA (TikTok) - VERSION AMPLIADA\n// Incluye muchas más palabras relacionadas con \"ropa\" y \"segunda mano\"\n// ===============================================\nconst items = $input.all();\n\n// ==================================================\n// 1️⃣ Palabras Clave (ampliadas)\n// ==================================================\n\nconst comidaKeywords = [\n  // (mantengo la lista previa; puedes ampliarla si quieres)\n  'comida', 'comidas', 'food', 'restaurante', 'restaurantes',\n  'cocina', 'cocinando', 'receta', 'recetas', 'delicioso', 'deliciosa',\n  'rico', 'rica', 'sabroso', 'sabrosa', 'sabor', 'sabores', 'platillo',\n  'platillos', 'plato', 'platos', 'gastronomia', 'gastronomía', 'chef',\n  'foodlover', 'foodie', 'foodies', 'almuerzo', 'almorzando',\n  'cena', 'cenando', 'desayuno', 'desayunando', 'merienda', 'meriendas',\n  'antojito', 'antojitos', 'postre', 'postres', 'snack', 'snacks', \n  'bocadillo', 'bocadillos', 'menu', 'menú', 'degustación', 'degustando',\n  'comer', 'comiendo', 'probar', 'probando', 'saboreando',\n  'delivery', 'domicilio', 'resto', 'cafeteria', 'cafetería', 'pizzeria',\n  'pizzería', 'polleria', 'pollería', 'parrillada', 'asadero', 'antojitos',\n  // Platos locales e internacionales\n  'encebollado', 'ceviche', 'bolon', 'bolón', 'tigrillo', 'guatita',\n  'cuy', 'hornado', 'fritada', 'morcilla', 'llapingacho',\n  'seco de chivo', 'seco de pollo', 'caldo de bola', 'locro', 'menestra',\n  'empanadas', 'yaguarlocro', 'arroz con menestra', 'sango',\n  'pizza', 'hamburguesa', 'tacos', 'sushi', 'mariscos', 'paella',\n  'pasta', 'spaghetti', 'lasagna', 'helado', 'burger', 'hotdog',\n  'frappe', 'frappé', 'mojito', 'café', 'coffee', 'coctel', 'cocktail',\n  'drink', 'bebida', 'bebidas', 'cerveza', 'vino', 'licor', 'bar', 'bistro', 'ahumado','cocinado','cocina','ahumada'\n];\n\nconst ropaKeywords = [\n  // Palabras generales y formas/plurales\n  'ropa', 'ropas', 'moda', 'fashion', 'prenda', 'prendas', 'vestir',\n  'vestirse', 'atuendo', 'atuendos', 'outfit', 'outfits', 'look', 'looks',\n  'estilo', 'estilos', 'tendencia', 'tendencias', 'trendy', 'trend', 'haul',\n  'ropa nueva', 'ropa usada', 'moda urbana', 'moda casual', 'moda elegante',\n  'tienda de ropa', 'tienda', 'boutique', 'closet', 'armario',\n  'vistiendo', 'vistiendo ropa', 'probando ropa', 'probando prendas',\n  'comprando ropa', 'comprando prendas', 'unboxing', 'ropa vintage',\n  'ropa deportiva', 'ropa formal', 'ropa interior', 'moda femenina',\n  'moda masculina', 'ropa de mujer', 'ropa de hombre', 'venta de ropa',\n  'venta ropa', 'reseller', 'reventa', 'reventa ropa', 'reventa de ropa',\n  'swap', 'intercambio', 'remate', 'liquidacion', 'liquidación', 'outlet',\n\n  // Segunda mano (múltiples formas / abreviaciones / inglés / hashtags)\n  'segunda mano', 'segundamano', 'segunda-mano', '2da mano', '2da mano',\n  '2damano', '2damanos', '2da', 'secondhand', 'second-hand', 'second hand',\n  'secondhand', 'secondhandshop', 'secondhandfashion', 'used', 'usado',\n  'usada', 'usados', 'usadas', 'preloved', 'pre-loved', 'pre loved',\n  'prelovedfashion', 'thrift', 'thriftstore', 'thrifting', 'thriftshop',\n  'vintage', 'retro', 'resale', 'consignment', 'consignacion', 'consignación',\n  'mano', 'manos', 'de segunda', 'segundamano', 'hand', '#segundamano',\n  '#secondhand', '#used', '#preloved', '#thrift', 'segunda mano ropa',\n\n  // Prendas específicas (con plurales)\n  'camisa', 'camisas', 'camiseta', 'camisetas', 'pantalon', 'pantalones',\n  'jeans', 'short', 'shorts', 'vestido', 'vestidos', 'falda', 'faldas',\n  'chaqueta', 'chaquetas', 'abrigo', 'abrigos', 'saco', 'sacos',\n  'zapato', 'zapatos', 'zapatilla', 'zapatillas', 'sneakers', 'tenis',\n  'botas', 'sandalias', 'chanclas', 'accesorio', 'accesorios',\n  'collar', 'collares', 'pulsera', 'pulseras', 'anillo', 'anillos',\n  'joya', 'joyas', 'arete', 'aretes', 'pendiente', 'pendientes',\n  'bolso', 'bolsos', 'cartera', 'carteras', 'gorra', 'gorras', 'sombrero',\n  'sombreros', 'bufanda', 'bufandas', 'guantes', 'guante', 'conjunto',\n  'conjuntos', 'blusa', 'blusas', 'top', 'tops', 'sudadera', 'hoodie',\n  'chaqueta de cuero', 'buzo', 'buzos', 'abrigo largo', 'minifalda',\n  'prenda de vestir', 'prenda unica', 'prendaunica'\n];\n\n// ==================================================\n// 2️⃣ Funciones auxiliares\n// ==================================================\n\n// Normaliza texto: minúsculas, quita acentos, convierte símbolos a espacios y\n// colapsa espacios múltiples.\nfunction normalizeText(text) {\n  if (!text) return '';\n  return text\n    .toString()\n    .toLowerCase()\n    .normalize(\"NFD\").replace(/[\\u0300-\\u036f]/g, \"\") // quita acentos\n    .replace(/[^\\p{L}\\p{N}\\s]/gu, ' ') // quita caracteres no letra/número (unicode-safe)\n    .replace(/\\s+/g, ' ') // colapsa espacios\n    .trim();\n}\n\n// Busca coincidencias (palabra clave dentro del texto normalizado)\nfunction findCategory(text, keywords) {\n  const normalized = normalizeText(text);\n  return keywords.some(keyword => {\n    const k = normalizeText(keyword);\n    return k && normalized.includes(k);\n  });\n}\n\n// ==================================================\n// 3️⃣ Procesamiento\n// ==================================================\n\nconst processedItems = items.map(item => {\n  const data = item.json || {};\n\n  // text (TikTok), caption (Instagram), location_slug (IG) y hashtags/hashtag\n  const text = data.text || data.caption || '';\n  const locationSlug = data.location_slug || data.location || '';\n  const rawHashtags = data.hashtags || data.hashtag || [];\n  const hashtags = Array.isArray(rawHashtags)\n    ? rawHashtags.join(' ')\n    : (typeof rawHashtags === 'string' ? rawHashtags : '');\n\n  // Combina todo en un solo string\n  const allText = `${text} ${locationSlug} ${hashtags}`;\n\n  // Detecta categorías\n  const isComida = findCategory(allText, comidaKeywords);\n  const isRopa = findCategory(allText, ropaKeywords);\n\n  // Determina la categoría final\n  let categoria = '';\n  if (isComida && !isRopa) {\n    categoria = 'Comida';\n  } else if (isRopa && !isComida) {\n    categoria = 'Ropa';\n  } else if (isComida && isRopa) {\n    categoria = 'Ambas';\n  } else {\n    categoria = 'Desconocida';\n  }\n\n  return {\n    json: {\n      ...data,\n      categoria\n    }\n  };\n});\n\nreturn processedItems;\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1328,
        0
      ],
      "id": "9c77a69b-df0c-47e0-853c-3534e1a71c25",
      "name": "Asignar Categoría (Comida/Ropa)"
    },
    {
      "parameters": {
        "operation": "update",
        "collection": "tendencias_tiktok",
        "updateKey": "=ID",
        "fields": "ID,Description,URL,Views,Likes,Comments,Shares,Author_Nickname,Author_Name,hashtag,Create_Date,Followers,Video_Count,ciudad,categoria",
        "upsert": true,
        "options": {}
      },
      "type": "n8n-nodes-base.mongoDb",
      "typeVersion": 1.2,
      "position": [
        1680,
        -320
      ],
      "id": "afb5c22f-fee6-464e-a797-7786a3ac2552",
      "name": "Guardar Videos en MongoDB (Upsert)",
      "credentials": {
        "mongoDb": {
          "id": "kfT2nltyadM7X3nZ",
          "name": "MongoDB account 3"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Versión minimalista adaptada para text y hashtag\nconst items = $input.all();\n\nconst preparedItems = items.map(item => {\n  const data = item.json;\n  \n  return {\n    json: {\n          text: data.Description || '',\n      hashtag: data.hashtag || '',\n      ciudad: data.ciudad || 'No detectado',\n      categoria: data.categoria\n    }\n  };\n});\n\nreturn preparedItems;\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1616,
        400
      ],
      "id": "6b6f583f-e29c-4b29-9548-040a63d2dec5",
      "name": "Filtrar Datos para IA"
    },
    {
      "parameters": {
        "jsCode": "// ✅ Código para unificar todos los posts (versión adaptada para TikTok)\nconst items = $input.all();\n\n// Crear un string con todos los posts numerados y separados claramente\nlet allPostsText = '';\n\nitems.forEach((item, index) => {\n  const data = item.json;\n\n  // --- Campos con fallback ---\n  const text = data.text || 'Sin descripción';\n  const hashtags = Array.isArray(data.hashtag)\n    ? data.hashtag.join(', ')\n    : (typeof data.hashtag === 'string' && data.hashtag.trim() !== '' \n        ? data.hashtag \n        : 'Sin hashtags');\n  const ciudad = data.ciudad || 'No detectado';\n  const categoria = data.categoria || 'No detectado';\n\n  // --- Construir bloque de texto para cada post ---\n  allPostsText += `\n━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━\nPOST #${index + 1}\nCiudad: ${ciudad}\nCategoría: ${categoria}\n━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━\n\nDescripción:\n${text}\n\nHashtags:\n${hashtags}\n\n`;\n});\n\n// --- Crear resumen al inicio ---\nconst summary = `\n═══════════════════════════════════════\nRESUMEN DE DATOS\n═══════════════════════════════════════\nTotal de posts a analizar: ${items.length}\n\n${allPostsText}\n═══════════════════════════════════════\nFIN DE LOS DATOS\n═══════════════════════════════════════\n`;\n\n// --- Retornar UN SOLO item con todos los datos ---\nreturn [{\n  json: {\n    datos_para_ia: summary,\n    total_posts: items.length\n  }\n}];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1856,
        400
      ],
      "id": "f8521d85-5ac4-4309-b127-8a4f75b7b5d9",
      "name": "Agrupar Videos para IA (Batch)"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "models/gemini-2.0-flash-lite",
          "mode": "list",
          "cachedResultName": "models/gemini-2.0-flash-lite"
        },
        "messages": {
          "values": [
            {
              "content": "=Eres un analista experto en tendencias de TikTok e Instagram para emprendedores ecuatorianos.\nTu misión es analizar múltiples publicaciones (mezcladas entre comida y moda, de Quito y Guayaquil) y detectar oportunidades de negocio reales con productos físicos específicos para vender.\n\n📦 Datos de entrada:\n\n{{ $json.datos_para_ia }}\n\n🎯 Instrucciones:\n\nClasifica los posts en 4 grupos según su contenido:\n\n🍤 Comida Quito\n🍤 Comida Guayaquil\n👗 Ropa Quito\n👗 Ropa Guayaquil\n\nPara cada grupo, responde lo siguiente:\n\n📊 Observación:\nDescribe en una sola línea lo que más llama la atención o genera interacción (sabores, estilo, colores, precios, presentaciones, etc.).\n\n💡 Oportunidad 1 y 2:\nPropón dos productos físicos concretos que alguien podría vender basándose en esa tendencia.\nEvita ideas genéricas como “ropa económica” o “comida deliciosa”.\nDa nombres específicos (por ejemplo: “blusas de lino oversize”, “postres en frascos”, “hamburguesas artesanales con queso ahumado”).\n\nUsa emojis según el tipo:\n\n🥩🍕🍔🍰🍣 → productos alimenticios\n\n👕👗👖🧢👠🧥 → ropa y accesorios\n\nMantén cada línea clara y directa (sin explicaciones largas).\n\n🧾 Formato de salida (sin texto adicional):\n\n🍤 Comida Quito\n📊 Observación: [...]\n💡 Oportunidad 1: [...]\n💡 Oportunidad 2: [...]\n\n🍤 Comida Guayaquil\n📊 Observación: [...]\n💡 Oportunidad 1: [...]\n💡 Oportunidad 2: [...]\n\n👗 Ropa Quito\n📊 Observación: [...]\n💡 Oportunidad 1: [...]\n💡 Oportunidad 2: [...]\n\n👗 Ropa Guayaquil\n📊 Observación: [...]\n💡 Oportunidad 1: [...]\n💡 Oportunidad 2: [...]"
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1,
      "position": [
        2064,
        400
      ],
      "id": "e30ce489-5216-430c-bfcf-3f636232ce32",
      "name": "Generar Recomendaciones (IA)",
      "credentials": {
        "googlePalmApi": {
          "id": "Zl27hkaxInl0HWv4",
          "name": "CUENTA PERSONAL"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "3f817621-5e39-42b9-b8ab-9d47edf18cae",
              "name": "resumen_ia",
              "value": "={{ $json.content.parts[0].text }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2400,
        400
      ],
      "id": "4aa42171-a879-4e42-a8fd-fb13f7c61475",
      "name": "Extraer Texto de la IA"
    },
    {
      "parameters": {
        "jsCode": "// 1️⃣ Obtener el texto completo desde el input\nconst fullText = $json.resumen_ia;\n\n// 2️⃣ Expresión regular para detectar cada bloque (título + contenido)\nconst regex = /(🍤 Comida [^\\n]+|👗 Ropa [^\\n]+)\\n([\\s\\S]*?)(?=\\n🍤|\\n👗|$)/g;\n\n// 3️⃣ Crear arreglo para los nuevos items\nconst newItems = [];\n\n// 4️⃣ Extraer cada grupo con regex\nlet match;\nwhile ((match = regex.exec(fullText)) !== null) {\n  const titulo = match[1].trim();     // Ej: \"🍤 Comida Quito\"\n  const cuerpo = match[2].trim();     // Texto del bloque\n  \n  // Dividir el título para extraer categoría y ciudad\n  const partes = titulo.replace(/🍤|👗/g, '').trim().split(' ');\n  const categoria = partes[0] || 'Desconocida'; // Comida o Ropa\n  const ciudad = partes[1] || 'Desconocida';    // Quito o Guayaquil\n\n  // Construir texto final incluyendo el título\n  const textoCompleto = `${titulo}\\n${cuerpo}`;\n\n  // Crear item\n  newItems.push({\n    json: {\n      categoria,\n      ciudad,\n      texto: textoCompleto\n    }\n  });\n}\n\n// 5️⃣ Retornar los items (n8n los separará automáticamente)\nreturn newItems;\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2640,
        400
      ],
      "id": "1fb66d2d-3586-4e3e-9a16-08b6dd25032f",
      "name": "Particionar Recomendaciones"
    },
    {
      "parameters": {
        "operation": "insert",
        "collection": "resumen_ia_tiktok",
        "fields": "=categoria, ciudad, texto",
        "options": {}
      },
      "type": "n8n-nodes-base.mongoDb",
      "typeVersion": 1.2,
      "position": [
        2880,
        400
      ],
      "id": "b710b767-81af-48fe-94cc-6db18c354973",
      "name": "Guardar Recomendaciones en MongoDB",
      "credentials": {
        "mongoDb": {
          "id": "kfT2nltyadM7X3nZ",
          "name": "MongoDB account 3"
        }
      }
    },
    {
      "parameters": {
        "content": "Inicia todo el proceso de scraping y análisis de tendencias.",
        "height": 256,
        "width": 224
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -400,
        -80
      ],
      "typeVersion": 1,
      "id": "471429bb-d569-4c47-894d-2938eaf802be",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "Asegurar que las recomendaciones sean frescas. Borra la colección 'recomendaciones_ia_tiktok' en MongoDB antes de generar nuevas.",
        "height": 336,
        "width": 224
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        64,
        -128
      ],
      "typeVersion": 1,
      "id": "d225d7e0-391a-46b5-8f82-8122ff52508a",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "content": "Crea 4 items (Comida Quito, Comida GYE, Ropa Quito, Ropa GYE) para ejecutar el scraper 4 veces.",
        "height": 336,
        "width": 224
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        304,
        -112
      ],
      "typeVersion": 1,
      "id": "1e3ce636-fa7c-4096-b6ca-70f0477cfaf7",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "content": "Ejecuta el Actor de Apify 4 veces. Salida: 4 items, donde cada item es una LISTA de videos.",
        "height": 336,
        "width": 224
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        544,
        -112
      ],
      "typeVersion": 1,
      "id": "3dac7281-726c-4544-a54b-c5c22c3db425",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "content": "Limpia CADA video, extrayendo solo los campos útiles (ID, text, hashtags, etc.) para el siguiente paso.",
        "height": 336,
        "width": 224
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        784,
        -112
      ],
      "typeVersion": 1,
      "id": "bd81d52f-1aa0-4f7b-93b1-8f90b4f36107",
      "name": "Sticky Note4"
    },
    {
      "parameters": {
        "content": "Lee text y hashtags de CADA video y añade un nuevo campo: ciudad: 'Quito' o ciudad: 'Guayaquil'.",
        "height": 336,
        "width": 224
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1024,
        -112
      ],
      "typeVersion": 1,
      "id": "f71ba25e-8a3d-4e9e-9fc2-02ddc28ad24f",
      "name": "Sticky Note5"
    },
    {
      "parameters": {
        "content": "Lee text y hashtags de CADA video y añade un nuevo campo: categoria: 'Comida', categoria: 'Ropa' ",
        "height": 336,
        "width": 224
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1264,
        -112
      ],
      "typeVersion": 1,
      "id": "24608620-53f0-48e2-a3bc-f18fad9f8bb6",
      "name": "Sticky Note6"
    },
    {
      "parameters": {
        "content": "Actualiza o Inserta (Upsert) CADA video en la colección tendencias_tiktok.",
        "height": 272,
        "width": 224
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1616,
        -400
      ],
      "typeVersion": 1,
      "id": "ae0951c7-e3e8-4b3d-bc66-be99c0030557",
      "name": "Sticky Note7"
    },
    {
      "parameters": {
        "content": "Prepara los datos para la IA. Selecciona solo description, hashtags, ciudad y categoria de CADA video.",
        "height": 288,
        "width": 224
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1552,
        304
      ],
      "typeVersion": 1,
      "id": "15fa7fa0-9bad-405b-bcc8-8b48a20dceed",
      "name": "Sticky Note8"
    },
    {
      "parameters": {
        "content": "Junta todos los items de video en 1 solo gran item. Esto es para enviar todo a Gemini en UNA sola petición.",
        "height": 288,
        "width": 224
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1792,
        304
      ],
      "typeVersion": 1,
      "id": "a36fda0a-bc81-4aae-b01d-070aa658ae3f",
      "name": "Sticky Note9"
    },
    {
      "parameters": {
        "content": "Envía el \"batch\" de videos a Gemini-Flash. La IA analiza todo y devuelve 1 solo bloque de texto con las 4 recomendaciones.",
        "height": 288,
        "width": 288
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        2032,
        304
      ],
      "typeVersion": 1,
      "id": "a80e0d03-bbd5-4af2-a087-5d83feb46908",
      "name": "Sticky Note10"
    },
    {
      "parameters": {
        "content": "Limpia la respuesta de Gemini.",
        "height": 288,
        "width": 224
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        2336,
        304
      ],
      "typeVersion": 1,
      "id": "25e1beeb-c750-4c8c-915a-0083033b55bf",
      "name": "Sticky Note11"
    },
    {
      "parameters": {
        "content": "Toma el bloque de texto de la IA y lo \"parte\" en 4 items (filas) separados. Cada item nuevo tiene categoria, ciudad y texto.",
        "height": 288,
        "width": 224
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        2576,
        304
      ],
      "typeVersion": 1,
      "id": "e02ae5fb-104a-478e-845d-ee8ee500072b",
      "name": "Sticky Note12"
    },
    {
      "parameters": {
        "content": "Inserta las 4 recomendaciones (ya limpias y aplanadas) como 4 documentos nuevos en la colección Recomendaciones.",
        "height": 288,
        "width": 224
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        2816,
        304
      ],
      "typeVersion": 1,
      "id": "f4bfbef2-537c-4230-9fed-5afccd3457f7",
      "name": "Sticky Note13"
    },
    {
      "parameters": {
        "operation": "delete",
        "collection": "PalabrasClave_tiktok"
      },
      "type": "n8n-nodes-base.mongoDb",
      "typeVersion": 1.2,
      "position": [
        -80,
        0
      ],
      "id": "7652ecf8-8004-43bc-90bd-9045f5247432",
      "name": "Limpiar Palabras Clave Tiktok",
      "credentials": {
        "mongoDb": {
          "id": "kfT2nltyadM7X3nZ",
          "name": "MongoDB account 3"
        }
      }
    },
    {
      "parameters": {
        "content": "Asegura que las palabras clave sean recientes y evita sobreescrituras",
        "height": 336,
        "width": 224
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -160,
        -128
      ],
      "typeVersion": 1,
      "id": "7b9d2b30-16bf-4e00-ac8e-c420c180da2f",
      "name": "Sticky Note14"
    },
    {
      "parameters": {
        "content": "\"Desenrolla\" las 4 listas de palabras clave",
        "height": 320,
        "width": 208
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        2112,
        -80
      ],
      "typeVersion": 1,
      "id": "38a09d1d-877f-49b9-bfd4-bb6900534151",
      "name": "Sticky Note15"
    },
    {
      "parameters": {
        "content": "Agrupa todos los comentarios y textos de CADA segmento en 4 items separados, listos para la IA.",
        "height": 320,
        "width": 208
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1568,
        -80
      ],
      "typeVersion": 1,
      "id": "6abbf5e9-11a4-4786-abff-93423b7c59dc",
      "name": "Sticky Note17"
    },
    {
      "parameters": {
        "content": "Envía los textos de cada segmento a Gemini. La IA devuelve 1 lista (array) de palabras clave relevantes por cada segmento.",
        "height": 320,
        "width": 304
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1792,
        -80
      ],
      "typeVersion": 1,
      "id": "308601dd-c4d8-4e2b-b0c4-7d25be593556",
      "name": "Sticky Note18"
    },
    {
      "parameters": {
        "content": "Inserta cada palabracomo una fila separada en la colección PalabrasClave_tiktok de MongoDB.",
        "height": 320,
        "width": 208
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        2336,
        -80
      ],
      "typeVersion": 1,
      "id": "06764e69-5bea-4620-9cee-b9adf6b6c24a",
      "name": "Sticky Note19"
    },
    {
      "parameters": {
        "jsCode": "const itemsInput = $input.all();\n\n// Inicializamos los 4 grupos\nconst grupos = {\n  \"Comida-Quito\": [],\n  \"Comida-Guayaquil\": [],\n  \"Ropa-Quito\": [],\n  \"Ropa-Guayaquil\": []\n};\n\n// Recorremos todos los items\nfor (const item of itemsInput) {\n  const data = item.json;\n\n  const categoria = data.categoria || \"\";\n  const ciudad = data.ciudad || \"\";\n\n  const claveGrupo = `${categoria}-${ciudad}`;\n\n  // Solo procesamos los 4 grupos definidos\n  if (grupos[claveGrupo] && data.Description && typeof data.Description === 'string' && data.Description.trim() !== '') {\n    grupos[claveGrupo].push(data.Description.trim());\n  }\n}\n\n// Convertimos los arrays en strings formateados\nconst resultado = Object.entries(grupos).map(([clave, descripciones]) => {\n  const textoFinal = descripciones\n    .map((txt, i) => `VIDEO ${i + 1}: ${txt}`)\n    .join('\\n\\n');\n\n  const [categoria, ciudad] = clave.split('-');\n\n  return {\n    json: {\n      categoria,\n      ciudad,\n      resumen_descripciones: textoFinal || \"(Sin descripciones disponibles)\"\n    }\n  };\n});\n\nreturn resultado;\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1616,
        32
      ],
      "id": "068d87f7-0ca8-4aa5-bd51-c2d49bcddc6c",
      "name": "Agrupar Comentarios por Segmento"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "models/gemini-2.0-flash-lite",
          "mode": "list",
          "cachedResultName": "models/gemini-2.0-flash-lite"
        },
        "messages": {
          "values": [
            {
              "content": "=Eres un analista de datos especializado en lenguaje natural y comportamiento del consumidor.\nTe proporcionaré un bloque de datos de videos, cada uno con su categoría, ciudad y la descripción del video (Description).\n\nTu tarea es identificar las palabras o frases más relevantes y representativas que aparecen en las descripciones de los videos, evitando palabras genéricas o poco informativas.\n\nPor favor, devuelve una lista limpia de al menos 6 términos o frases clave (pueden ser palabras o expresiones cortas), ordenadas de mayor a menor relevancia semántica dentro del contexto.\n\n❌ NO incluyas palabras vacías o comunes como: que, la, el, de, y, o, con, para, por, etc.\n❌ NO incluyas palabras obvias del contexto como: ropa, camisa, vestido, pantalón, Ecuador, Quito, Guayaquil, comida, restaurante, local, video, TikTok, etc.\n✅ Incluye solo palabras que reflejen ideas, emociones, críticas o detalles concretos que la gente menciona en las descripciones (ej. “servicio”, “espera larga”, “ambiente”, “precios altos”, “autenticidad”, “sabores tradicionales”).\n⚠️ OJO: NO INVENTES NADA, SOLO TOMA LO QUE REALMENTE EXISTE EN las descripciones.\n\nReglas importantes:\n\nLos dos primeros elementos del array siempre deben ser la categoría y la ciudad del video.\n\nDespués, ordena los términos de mayor a menor relevancia, de modo que el término más importante aparezca primero después de los dos iniciales.\n\nFormato de salida esperado:\n\n[\n  \"categoria\",\n  \"ciudad\",\n  \"termino_1\",\n  \"termino_2\",\n  \"termino_3\",\n  \"termino_4\",\n  \"termino_5\",\n  \"termino_6\",\n  ...\n]\n\nAquí están los datos de los videos:\nCategoría: {{ $json.categoria }}\nCiudad: {{ $json.ciudad }}\nDescriptions:\n{{ $json.resumen_descripciones }}"
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1,
      "position": [
        1824,
        32
      ],
      "id": "8ab306e3-dd0c-4285-8175-92e3adcf82c2",
      "name": "Extraer Palabras Clave (IA)",
      "credentials": {
        "googlePalmApi": {
          "id": "Zl27hkaxInl0HWv4",
          "name": "CUENTA PERSONAL"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// 🧹 Función para limpiar texto entre ``` y ```json\nfunction cleanText(str) {\n  return str\n    .replace(/```json/g, \"\")\n    .replace(/```/g, \"\")\n    .replace(/,\\s*\\]/g, \"]\") // elimina comas sobrantes antes del cierre del array\n    .trim();\n}\n\n// ✅ Inicializamos la variable de salida\n/** @type {Array<{json: {categoria: string, ciudad: string, palabra: string, peso: number}}>} */\nconst resultados = [];\n\n// 🔹 Definir los 4 grupos relevantes\nconst gruposRelevantes = [\"Comida-Quito\", \"Comida-Guayaquil\", \"Ropa-Quito\", \"Ropa-Guayaquil\"];\n\n// 🔹 Procesar cada item recibido\nfor (const item of $input.all()) {\n  const text = item.json?.content?.parts?.[0]?.text;\n  if (!text) continue;\n\n  const cleaned = cleanText(text);\n\n  let arr;\n  try {\n    arr = JSON.parse(cleaned);\n  } catch (e) {\n    console.error(\"❌ Error parsing JSON:\", e);\n    continue;\n  }\n\n  if (!Array.isArray(arr) || arr.length < 3) continue;\n\n  const categoria = arr[0];\n  const ciudad = arr[1];\n\n  // 🔹 Verificar que el grupo sea uno de los 4 relevantes\n  const claveGrupo = `${categoria}-${ciudad}`;\n  if (!gruposRelevantes.includes(claveGrupo)) continue;\n\n  const palabras = arr.slice(2);\n\n  // 🔢 Asignar pesos decrecientes (primeras palabras tienen más relevancia)\n  const pesoMax = 10;\n  palabras.forEach((palabra, idx) => {\n    resultados.push({\n      json: {\n        categoria,\n        ciudad,\n        palabra,\n        peso: Math.max(pesoMax - idx, 1), // mínimo 1\n      },\n    });\n  });\n}\n\n// ✅ Retornar los resultados finales\nreturn resultados;\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2176,
        32
      ],
      "id": "d7606922-fab8-470c-ae5b-c926cb7fba25",
      "name": "Aplanar y Ponderar Palabras Clave"
    },
    {
      "parameters": {
        "operation": "insert",
        "collection": "PalabrasClave_tiktok",
        "fields": "categoria,ciudad,palabra,peso",
        "options": {}
      },
      "type": "n8n-nodes-base.mongoDb",
      "typeVersion": 1.2,
      "position": [
        2384,
        32
      ],
      "id": "f715ba51-513f-4497-bdb4-ad03d1dc1c50",
      "name": "Guardar Palabras Clave Aplanadas",
      "credentials": {
        "mongoDb": {
          "id": "kfT2nltyadM7X3nZ",
          "name": "MongoDB account 3"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Ejecutar Flujo Manualmente": {
      "main": [
        [
          {
            "node": "Limpiar Palabras Clave Tiktok",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Limpiar Recomendaciones Antiguas": {
      "main": [
        [
          {
            "node": "Generar Búsquedas (Queries)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generar Búsquedas (Queries)": {
      "main": [
        [
          {
            "node": "Scrapear Videos de TikTok",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Scrapear Videos de TikTok": {
      "main": [
        [
          {
            "node": "Separar Listas de Videos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Separar Listas de Videos": {
      "main": [
        [
          {
            "node": "Asignar Ciudad (Quito/GYE)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Asignar Ciudad (Quito/GYE)": {
      "main": [
        [
          {
            "node": "Asignar Categoría (Comida/Ropa)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Asignar Categoría (Comida/Ropa)": {
      "main": [
        [
          {
            "node": "Guardar Videos en MongoDB (Upsert)",
            "type": "main",
            "index": 0
          },
          {
            "node": "Filtrar Datos para IA",
            "type": "main",
            "index": 0
          },
          {
            "node": "Agrupar Comentarios por Segmento",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filtrar Datos para IA": {
      "main": [
        [
          {
            "node": "Agrupar Videos para IA (Batch)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Agrupar Videos para IA (Batch)": {
      "main": [
        [
          {
            "node": "Generar Recomendaciones (IA)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generar Recomendaciones (IA)": {
      "main": [
        [
          {
            "node": "Extraer Texto de la IA",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extraer Texto de la IA": {
      "main": [
        [
          {
            "node": "Particionar Recomendaciones",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Particionar Recomendaciones": {
      "main": [
        [
          {
            "node": "Guardar Recomendaciones en MongoDB",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Limpiar Palabras Clave Tiktok": {
      "main": [
        [
          {
            "node": "Limpiar Recomendaciones Antiguas",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Agrupar Comentarios por Segmento": {
      "main": [
        [
          {
            "node": "Extraer Palabras Clave (IA)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extraer Palabras Clave (IA)": {
      "main": [
        [
          {
            "node": "Aplanar y Ponderar Palabras Clave",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aplanar y Ponderar Palabras Clave": {
      "main": [
        [
          {
            "node": "Guardar Palabras Clave Aplanadas",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "1babc8cc-09ba-4aa9-af33-eeaecb215dca",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "84ac353e68fc84ff325eb30abf347157cf7efe7af446c4736ca746c5504b4005"
  },
  "id": "2xBjF2sdLiziwjZg",
  "tags": []
}