SCRAPPER PARA INSTAGRAM.json
{
  "name": "SCRAPPER PARA INSTAGRAM",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -752,
        80
      ],
      "id": "800ae6a3-f6c1-437a-b882-1212fa002424",
      "name": "Ejecutar Flujo Manualmente"
    },
    {
      "parameters": {
        "operation": "delete",
        "collection": "resumen_ia"
      },
      "type": "n8n-nodes-base.mongoDb",
      "typeVersion": 1.2,
      "position": [
        -288,
        80
      ],
      "id": "412ed96a-ee25-47c9-90e7-ba7e9badb12c",
      "name": "Limpiar Recomendaciones Antiguas",
      "credentials": {
        "mongoDb": {
          "id": "kfT2nltyadM7X3nZ",
          "name": "MongoDB account 3"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Esto crea 4 items de salida, cada uno con tu término de búsqueda\nreturn [\n  { mi_busqueda: \"comida quito\" },\n  { mi_busqueda: \"comida guayaquil\" },\n  { mi_busqueda: \"ropa quito\" },\n  { mi_busqueda: \"ropa guayaquil\" }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -48,
        80
      ],
      "id": "6d7e8098-0101-4fe1-a2b1-3d457040b47b",
      "name": "Generar Búsquedas (Queries)"
    },
    {
      "parameters": {
        "url": "https://api.scrapecreators.com/v1/instagram/reels/search",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "scrapeCreatorsApi",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "query",
              "value": "={{ $json.mi_busqueda }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        192,
        80
      ],
      "id": "c7414f35-b5af-4594-90f5-a380e7a9727e",
      "name": "Scrapear Reels de IG",
      "credentials": {
        "scrapeCreatorsApi": {
          "id": "KS9T8tK82EN7qNft",
          "name": "Scrape Creators account 2"
        }
      }
    },
    {
      "parameters": {
        "fieldToSplitOut": "reels",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        432,
        80
      ],
      "id": "236c92fe-7507-4c5b-8ea5-5192e2c6cfc5",
      "name": "Separar Listas de Videos"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "6efc3ec6-219c-435b-b278-04dd030d8f9a",
              "name": "id",
              "value": "={{ $json.id }}",
              "type": "string"
            },
            {
              "id": "68991b4b-4551-47ba-aeb4-fc6b817c8544",
              "name": "url",
              "value": "={{ $json.url }}",
              "type": "string"
            },
            {
              "id": "53c8e31f-73f5-4cce-87b1-6080abd2be73",
              "name": "video_view_count",
              "value": "={{ $json.video_view_count }}",
              "type": "number"
            },
            {
              "id": "6c4ed2cc-578d-41bc-aa4c-f0cee183f93c",
              "name": "video_play_count",
              "value": "={{ $json.video_play_count }}",
              "type": "number"
            },
            {
              "id": "40fadfeb-ae22-40de-a519-8de56d831b9d",
              "name": "like_count",
              "value": "={{ $json.like_count }}",
              "type": "number"
            },
            {
              "id": "d3c44616-2d3f-40a8-98b0-698d71635505",
              "name": "comment_count",
              "value": "={{ $json.comment_count }}",
              "type": "number"
            },
            {
              "id": "06843f77-6717-4ece-9e31-94f969288b66",
              "name": "location_slug",
              "value": "={{ $json.location.slug }}",
              "type": "string"
            },
            {
              "id": "a5ad2ea3-1d98-4703-8f05-d4d04b17bfc5",
              "name": "caption",
              "value": "={{ $json.caption ? $json.caption.split('#')[0].replace(/\\n/g, '').trim() : '' }}",
              "type": "string"
            },
            {
              "id": "b9be7a8e-001b-4ff2-a1a3-218d72cf1283",
              "name": "hashtags",
              "value": "={{ $json.caption ? $json.caption.replace(/[\\n\\r]/g, ' ').split('#').slice(1).map(h => h.trim().split(' ')[0].trim()) : [] }}",
              "type": "array"
            },
            {
              "id": "36c7447f-6505-492f-9e41-7a113f53ca66",
              "name": "owner_follower_count",
              "value": "={{ $json.owner.follower_count }}",
              "type": "number"
            },
            {
              "id": "ebe0030e-a3c2-4d3a-817a-d23aa3eb5e49",
              "name": "create_date",
              "value": "={{ $json.taken_at }}",
              "type": "string"
            },
            {
              "id": "72befaef-c390-40bd-8ed2-a8d177fd2494",
              "name": "owner_username",
              "value": "={{ $json.owner.username }}",
              "type": "string"
            },
            {
              "id": "5439e30f-d7e0-48c2-a4f0-3c91c0948e0b",
              "name": "comments",
              "value": "={{ $json.comments }}",
              "type": "array"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        672,
        80
      ],
      "id": "b11cb458-6a7a-46df-ba59-711c5b74491b",
      "name": "Filtrar Datos Crudos del Video"
    },
    {
      "parameters": {
        "jsCode": "// Código para detectar ciudad en posts de Instagram/TikTok\nconst items = $input.all();\n\n// Palabras clave para cada ciudad (en minúsculas)\nconst quitoKeywords = [\n  'quito', 'qto', 'uio', 'pichincha', 'mitaddelmundo', 'mitad del mundo',\n  'cumbaya', 'tumbaco', 'calderón', 'calderon', 'san rafael', 'sanrafael',\n  'conocoto', 'la carolina', 'lacarolina', 'mariscal', 'guapulo',\n  'el panecillo', 'elpanecillo', 'norte de quito', 'sur de quito',\n  'centro histórico quito', 'centrohistorico', 'plaza grande',\n  'la floresta', 'lafloresta', 'la ronda', 'laronda'\n];\n\nconst guayaquilKeywords = [\n  'guayaquil', 'guayaco', 'gye', 'guayas', 'samborondon', 'samborondón',\n  'via a la costa', 'vialacosta', 'urdesa', 'centro de guayaquil',\n  'malecón 2000', 'malecon 2000', 'malecon2000', 'las peñas', 'laspeñas',\n  'cerro santa ana', 'cerrosantaana', 'santana', 'kennedy', \n  'norte de guayaquil', 'sur de guayaquil', 'alborada', 'la garzota', \n  'lagarzota', 'mall del sol', 'malldelsol', 'riocentro', 'entre ríos',\n  'entrerios', 'duran', 'durán'\n];\n\n// Función para limpiar y normalizar texto\nfunction normalizeText(text) {\n  if (!text) return '';\n  return text\n    .toLowerCase()\n    .normalize(\"NFD\").replace(/[\\u0300-\\u036f]/g, \"\") // Quitar acentos\n    .replace(/[^\\w\\s]/g, '') // Quitar caracteres especiales\n    .trim();\n}\n\n// Función para buscar keywords en texto\nfunction findCity(text, keywords) {\n  const normalized = normalizeText(text);\n  return keywords.some(keyword => {\n    const normalizedKeyword = normalizeText(keyword);\n    return normalized.includes(normalizedKeyword);\n  });\n}\n\n// Procesar cada item\nconst processedItems = items.map(item => {\n  const data = item.json;\n  \n  // Preparar textos para búsqueda\n  const caption = data.caption || '';\n  const locationSlug = data.location_slug || '';\n  const hashtags = Array.isArray(data.hashtags) \n    ? data.hashtags.join(' ') \n    : (typeof data.hashtags === 'string' ? data.hashtags : '');\n  \n  // Combinar todos los textos\n  const allText = `${caption} ${locationSlug} ${hashtags}`;\n  \n  // Detectar ciudad\n  const isQuito = findCity(allText, quitoKeywords);\n  const isGuayaquil = findCity(allText, guayaquilKeywords);\n  \n  // Determinar ciudad\n  let ciudad = '';\n  \n  if (isQuito && !isGuayaquil) {\n    ciudad = 'Quito';\n  } else if (isGuayaquil && !isQuito) {\n    ciudad = 'Guayaquil';\n  } else if (isQuito && isGuayaquil) {\n    ciudad = 'Ambas';\n  } else {\n    ciudad = 'No detectado';\n  }\n  \n  // Retornar item con nuevo campo\n  return {\n    json: {\n      ...data,\n      ciudad: ciudad\n    }\n  };\n});\n\nreturn processedItems;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        912,
        80
      ],
      "id": "6eae8e5e-a783-491a-b8db-10144b24bc4d",
      "name": "Asignar Ciudad (Quito/GYE)"
    },
    {
      "parameters": {
        "jsCode": "// ===============================================\n// DETECTOR DE CATEGORÍA (TikTok / Instagram Reels) - ADAPTADO\n// Detecta si una publicación es de comida o ropa (incluyendo segunda mano)\n// ===============================================\n\nconst items = $input.all();\n\n// ==================================================\n// 1️⃣ Palabras Clave (ampliadas)\n// ==================================================\n\nconst comidaKeywords = [\n  'comida', 'comidas', 'food', 'restaurante', 'restaurantes',\n  'cocina', 'cocinando', 'receta', 'recetas', 'delicioso', 'deliciosa',\n  'rico', 'rica', 'sabroso', 'sabrosa', 'sabor', 'sabores', 'platillo',\n  'platillos', 'plato', 'platos', 'gastronomia', 'gastronomía', 'chef',\n  'foodlover', 'foodie', 'foodies', 'almuerzo', 'almorzando',\n  'cena', 'cenando', 'desayuno', 'desayunando', 'merienda', 'meriendas',\n  'antojito', 'antojitos', 'postre', 'postres', 'snack', 'snacks', \n  'bocadillo', 'bocadillos', 'menu', 'menú', 'degustación', 'degustando',\n  'comer', 'comiendo', 'probar', 'probando', 'saboreando',\n  'delivery', 'domicilio', 'resto', 'cafeteria', 'cafetería', 'pizzeria',\n  'pizzería', 'polleria', 'pollería', 'parrillada', 'asadero',\n  // Platos locales e internacionales\n  'encebollado', 'ceviche', 'bolon', 'bolón', 'tigrillo', 'guatita',\n  'cuy', 'hornado', 'fritada', 'morcilla', 'llapingacho',\n  'seco de chivo', 'seco de pollo', 'caldo de bola', 'locro', 'menestra',\n  'empanadas', 'yaguarlocro', 'arroz con menestra', 'sango',\n  'pizza', 'hamburguesa', 'tacos', 'sushi', 'mariscos', 'paella',\n  'pasta', 'spaghetti', 'lasagna', 'helado', 'burger', 'hotdog',\n  'frappe', 'frappé', 'mojito', 'café', 'coffee', 'coctel', 'cocktail',\n  'drink', 'bebida', 'bebidas', 'cerveza', 'vino', 'licor', 'bar', 'bistro', \n  'ahumado', 'ahumada', 'cocinado', 'parrilla', 'grill'\n];\n\nconst ropaKeywords = [\n  'ropa', 'ropas', 'moda', 'fashion', 'prenda', 'prendas', 'vestir',\n  'vestirse', 'atuendo', 'atuendos', 'outfit', 'outfits', 'look', 'looks',\n  'estilo', 'estilos', 'tendencia', 'tendencias', 'trendy', 'trend', 'haul',\n  'ropa nueva', 'ropa usada', 'moda urbana', 'moda casual', 'moda elegante',\n  'tienda de ropa', 'tienda', 'boutique', 'closet', 'armario',\n  'vistiendo', 'probando ropa', 'comprando ropa', 'unboxing', \n  'ropa vintage', 'ropa deportiva', 'ropa formal', 'moda femenina',\n  'moda masculina', 'ropa de mujer', 'ropa de hombre', 'venta de ropa',\n  'reseller', 'reventa', 'swap', 'intercambio', 'remate', 'liquidacion', 'outlet',\n  // Segunda mano\n  'segunda mano', 'segundamano', 'segunda-mano', '2da mano', '2damano', \n  'secondhand', 'second hand', 'used', 'usado', 'usada', 'usados', 'usadas',\n  'preloved', 'thrift', 'thrifting', 'vintage', 'retro', 'resale', 'consignacion', \n  'mano', 'manos', 'hand', '#segundamano', '#secondhand', '#used', '#preloved', \n  '#thrift', 'segunda mano ropa',\n  // Prendas\n  'camisa', 'camisas', 'camiseta', 'camisetas', 'pantalon', 'pantalones',\n  'jeans', 'short', 'shorts', 'vestido', 'vestidos', 'falda', 'faldas',\n  'chaqueta', 'chaquetas', 'abrigo', 'abrigos', 'saco', 'sacos',\n  'zapato', 'zapatos', 'zapatilla', 'zapatillas', 'sneakers', 'tenis',\n  'botas', 'sandalias', 'chanclas', 'accesorio', 'accesorios',\n  'collar', 'collares', 'pulsera', 'pulseras', 'anillo', 'anillos',\n  'joya', 'joyas', 'arete', 'aretes', 'pendiente', 'pendientes',\n  'bolso', 'bolsos', 'cartera', 'carteras', 'gorra', 'gorras', 'sombrero',\n  'sombreros', 'bufanda', 'bufandas', 'guantes', 'guante', 'conjunto',\n  'conjuntos', 'blusa', 'blusas', 'top', 'tops', 'sudadera', 'hoodie',\n  'buzo', 'buzos', 'minifalda', 'chaqueta de cuero'\n];\n\n// ==================================================\n// 2️⃣ Funciones auxiliares\n// ==================================================\nfunction normalizeText(text) {\n  if (!text) return '';\n  return text\n    .toString()\n    .toLowerCase()\n    .normalize(\"NFD\").replace(/[\\u0300-\\u036f]/g, \"\")\n    .replace(/[^\\p{L}\\p{N}\\s#]/gu, ' ')\n    .replace(/\\s+/g, ' ')\n    .trim();\n}\n\nfunction findCategory(text, keywords) {\n  const normalized = normalizeText(text);\n  return keywords.some(keyword => normalized.includes(normalizeText(keyword)));\n}\n\n// ==================================================\n// 3️⃣ Procesamiento\n// ==================================================\nconst processedItems = items.map(item => {\n  const data = item.json || {};\n\n  const caption = data.caption || '';\n  const location = data.location_slug || data.location || '';\n  const hashtagsRaw = data.hashtags || data.hashtag || [];\n  const hashtags = Array.isArray(hashtagsRaw)\n    ? hashtagsRaw.join(' ')\n    : (typeof hashtagsRaw === 'string' ? hashtagsRaw : '');\n\n  const allText = `${caption} ${location} ${hashtags}`;\n\n  const isComida = findCategory(allText, comidaKeywords);\n  const isRopa = findCategory(allText, ropaKeywords);\n\n  let categoria = '';\n  if (isComida && !isRopa) categoria = 'Comida';\n  else if (isRopa && !isComida) categoria = 'Ropa';\n  else if (isComida && isRopa) categoria = 'Ambas';\n  else categoria = 'Desconocida';\n\n  return {\n    json: {\n      ...data,\n      categoria\n    }\n  };\n});\n\nreturn processedItems;\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1152,
        80
      ],
      "id": "2e1ba0b0-7720-4f1b-a81c-a751c63b4b9c",
      "name": "Asignar Categoría (Comida/Ropa)"
    },
    {
      "parameters": {
        "operation": "update",
        "collection": "tendencias_instagram",
        "fields": "id, url, owner_username,video_view_count, video_play_count, like_count, comment_count, location_slug, ciudad, caption, hashtags, owner_follower_count, create_date,categoria",
        "upsert": true,
        "options": {}
      },
      "type": "n8n-nodes-base.mongoDb",
      "typeVersion": 1.2,
      "position": [
        1472,
        -192
      ],
      "id": "c10770e5-dbc3-49f7-a39f-357fad7646c3",
      "name": "Guardar Videos en MongoDB (Upsert)",
      "credentials": {
        "mongoDb": {
          "id": "kfT2nltyadM7X3nZ",
          "name": "MongoDB account 3"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Versión minimalista - solo los 3 campos para la IA\nconst items = $input.all();\n\nconst preparedItems = items.map(item => {\n  const data = item.json;\n  \n  return {\n    json: {\n      caption: data.caption || '',\n      hashtags: data.hashtags || '',\n      ciudad: data.ciudad || 'No detectado'\n    }\n  };\n});\n\nreturn preparedItems;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1616,
        480
      ],
      "id": "e2df29be-b5d8-4d31-910e-9c46dc2a10a0",
      "name": "Filtrar Datos para IA"
    },
    {
      "parameters": {
        "jsCode": "// Código para unificar todos los posts en un solo item para la IA\nconst items = $input.all();\n\n// Crear un string con todos los posts numerados y separados claramente\nlet allPostsText = '';\n\nitems.forEach((item, index) => {\n  const data = item.json;\n  const caption = data.caption || 'Sin caption';\n  const hashtags = Array.isArray(data.hashtags) \n    ? data.hashtags.join(', ') \n    : (typeof data.hashtags === 'string' ? data.hashtags : 'Sin hashtags');\n  const ciudad = data.ciudad || 'No detectado';\n  \n  // Agregar cada post con numeración y separadores claros\n  allPostsText += `\n━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━\nPOST #${index + 1}\nCiudad: ${ciudad}\n━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━\n\nCaption:\n${caption}\n\nHashtags:\n${hashtags}\n\n`;\n});\n\n// Agregar resumen al inicio\nconst summary = `\n═══════════════════════════════════════\nRESUMEN DE DATOS\n═══════════════════════════════════════\nTotal de posts a analizar: ${items.length}\n\n${allPostsText}\n═══════════════════════════════════════\nFIN DE LOS DATOS\n═══════════════════════════════════════\n`;\n\n// Retornar UN SOLO item con todos los datos\nreturn [{\n  json: {\n    datos_para_ia: summary,\n    total_posts: items.length\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1856,
        480
      ],
      "id": "509fd159-45ae-4d28-8333-3d41b42c4773",
      "name": "Agrupar Videos para IA (Batch)"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "models/gemini-2.0-flash-lite",
          "mode": "list",
          "cachedResultName": "models/gemini-2.0-flash-lite"
        },
        "messages": {
          "values": [
            {
              "content": "=Eres un analista experto en tendencias de TikTok e Instagram para emprendedores en Ecuador.\nTu tarea es analizar múltiples publicaciones de redes sociales (mezcladas entre comida y moda, de Quito y Guayaquil) y encontrar oportunidades de negocio reales (productos físicos para vender).\n\nDatos de las publicaciones:\n\n{{ $json.datos_para_ia }}\n\nInstrucciones:\n\nClasifica los posts en 4 grupos según su contenido:\n\n🍤 Comida Quito\n\n🍤 Comida Guayaquil\n\n👗 Ropa Quito\n\n👗 Ropa Guayaquil\n\nPara cada grupo, analiza el conjunto de posts y responde:\n\n📊 Observación: resumen general (1 línea) de lo que más atrae o genera interacción.\n\n💡 Oportunidad 1: producto físico que podría venderse basado en la tendencia.\n\n💡 Oportunidad 2: otro producto físico relacionado.\n\nUsa emojis según el tipo de producto:\n\n🥩🍕🍔🍰🍣 para comida o productos alimenticios.\n\n👕👗👖🧢👠🧥 para ropa o accesorios.\n\nSé conciso: máximo 1 línea por ítem.\n\nNo uses lenguaje técnico, ni menciones servicios o plataformas.\n\nFormato de salida (sin texto adicional):\n\n🍤 Comida Quito\n📊 Observación: [...]\n💡 Oportunidad 1: [...]\n💡 Oportunidad 2: [...]\n\n🍤 Comida Guayaquil\n📊 Observación: [...]\n💡 Oportunidad 1: [...]\n💡 Oportunidad 2: [...]\n\n👗 Ropa Quito\n📊 Observación: [...]\n💡 Oportunidad 1: [...]\n💡 Oportunidad 2: [...]\n\n👗 Ropa Guayaquil\n📊 Observación: [...]\n💡 Oportunidad 1: [...]\n💡 Oportunidad 2: [...]"
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1,
      "position": [
        2064,
        480
      ],
      "id": "ff5ab47d-1f4d-4516-8a2c-53fb8be51058",
      "name": "Generar Recomendaciones (IA)",
      "credentials": {
        "googlePalmApi": {
          "id": "Zl27hkaxInl0HWv4",
          "name": "CUENTA PERSONAL"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "3f817621-5e39-42b9-b8ab-9d47edf18cae",
              "name": "resumen_ia",
              "value": "={{ $json.content.parts[0].text }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2400,
        480
      ],
      "id": "31fcbca8-7085-40f6-9143-1af364f91c02",
      "name": "Extraer Texto de la IA"
    },
    {
      "parameters": {
        "jsCode": "// 1️⃣ Obtener el texto completo desde el input\nconst fullText = $json.resumen_ia;\n\n// 2️⃣ Expresión regular para detectar cada bloque (título + contenido)\nconst regex = /(🍤 Comida [^\\n]+|👗 Ropa [^\\n]+)\\n([\\s\\S]*?)(?=\\n🍤|\\n👗|$)/g;\n\n// 3️⃣ Crear arreglo para los nuevos items\nconst newItems = [];\n\n// 4️⃣ Extraer cada grupo con regex\nlet match;\nwhile ((match = regex.exec(fullText)) !== null) {\n  const titulo = match[1].trim();     // Ej: \"🍤 Comida Quito\"\n  const cuerpo = match[2].trim();     // Texto del bloque\n  \n  // Dividir el título para extraer categoría y ciudad\n  const partes = titulo.replace(/🍤|👗/g, '').trim().split(' ');\n  const categoria = partes[0] || 'Desconocida'; // Comida o Ropa\n  const ciudad = partes[1] || 'Desconocida';    // Quito o Guayaquil\n\n  // Construir texto final incluyendo el título\n  const textoCompleto = `${titulo}\\n${cuerpo}`;\n\n  // Crear item\n  newItems.push({\n    json: {\n      categoria,\n      ciudad,\n      texto: textoCompleto\n    }\n  });\n}\n\n// 5️⃣ Retornar los items (n8n los separará automáticamente)\nreturn newItems;\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2640,
        480
      ],
      "id": "b1309a33-1e7c-49ea-a57e-b9a00ec2e7b3",
      "name": "Particionar Recomendaciones"
    },
    {
      "parameters": {
        "content": "Inicia todo el proceso de scraping y análisis de tendencias.",
        "height": 256,
        "width": 224
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -832,
        16
      ],
      "typeVersion": 1,
      "id": "15585206-3db0-40df-90a4-402cbc4c4f0d",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "Asegurar que las recomendaciones sean frescas. Borra la colección 'recomendaciones_ia_ig' en MongoDB .",
        "height": 336,
        "width": 224
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -352,
        -32
      ],
      "typeVersion": 1,
      "id": "764a1fef-5065-4ef7-b2de-1291a9aa33ff",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "content": "Crea 4 items (Comida Quito, Comida GYE, Ropa Quito, Ropa GYE) para ejecutar el scraper 4 veces.",
        "height": 336,
        "width": 224
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -112,
        -32
      ],
      "typeVersion": 1,
      "id": "402cc9d0-faf2-44ad-a3f6-2a3b64a9656b",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "content": "Ejecuta el Actor de Apify 4 veces. Salida: 4 items, donde cada item es una LISTA de videos.",
        "height": 336,
        "width": 224
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        128,
        -32
      ],
      "typeVersion": 1,
      "id": "3583c5a7-ef0e-43c7-b897-3072e5d86b5a",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "content": "Limpia CADA video, extrayendo solo los campos útiles (ID, text, hashtags, etc.) para el siguiente paso.",
        "height": 336,
        "width": 224
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        608,
        -32
      ],
      "typeVersion": 1,
      "id": "4c74bc4d-d7da-4f65-9825-7b2c1d8e5485",
      "name": "Sticky Note4"
    },
    {
      "parameters": {
        "content": "Lee text y hashtags de CADA video y añade un nuevo campo: ciudad: 'Quito' o ciudad: 'Guayaquil'.",
        "height": 336,
        "width": 224
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        848,
        -32
      ],
      "typeVersion": 1,
      "id": "8bddcc53-1b03-48dc-8daa-5a4f81a2f7fa",
      "name": "Sticky Note5"
    },
    {
      "parameters": {
        "content": "Lee text y hashtags de CADA video y añade un nuevo campo: categoria: 'Comida', categoria: 'Ropa' ",
        "height": 336,
        "width": 224
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1088,
        -32
      ],
      "typeVersion": 1,
      "id": "f96ad4e0-7486-4646-9860-44316eff9d7c",
      "name": "Sticky Note6"
    },
    {
      "parameters": {
        "content": "Actualiza o Inserta (Upsert) CADA video en la colección tendencias_instagram.",
        "height": 304
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1408,
        -288
      ],
      "typeVersion": 1,
      "id": "d30a51de-f1d2-41e8-aa42-c355d1b44c53",
      "name": "Sticky Note7"
    },
    {
      "parameters": {
        "content": "Prepara los datos para la IA. Selecciona solo description, hashtags, ciudad y categoria de CADA video.",
        "height": 288,
        "width": 224
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1552,
        368
      ],
      "typeVersion": 1,
      "id": "5bb04d44-497f-44d0-8621-f68193cc94ef",
      "name": "Sticky Note8"
    },
    {
      "parameters": {
        "content": "Junta todos los items de video en 1 solo gran item. Esto es para enviar todo a Gemini en UNA sola petición.",
        "height": 288,
        "width": 224
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1792,
        368
      ],
      "typeVersion": 1,
      "id": "09d271e9-d4d5-41d6-a121-7a0092c44982",
      "name": "Sticky Note9"
    },
    {
      "parameters": {
        "content": "Envía el \"batch\" de videos a Gemini-Flash. La IA analiza todo y devuelve 1 solo bloque de texto con las 4 recomendaciones.",
        "height": 288,
        "width": 288
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        2032,
        368
      ],
      "typeVersion": 1,
      "id": "643995e4-53c5-4df6-9fed-bfc09f9d5c2a",
      "name": "Sticky Note10"
    },
    {
      "parameters": {
        "content": "Limpia la respuesta de Gemini.",
        "height": 288,
        "width": 224
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        2336,
        368
      ],
      "typeVersion": 1,
      "id": "4a69d9be-2add-4d12-863e-b4ecb9ffc051",
      "name": "Sticky Note11"
    },
    {
      "parameters": {
        "content": "Toma el bloque de texto de la IA y lo \"parte\" en 4 items (filas) separados. Cada item nuevo tiene categoria, ciudad y texto.",
        "height": 288,
        "width": 224
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        2576,
        368
      ],
      "typeVersion": 1,
      "id": "ba50b544-2371-41bf-b147-df42c2325b45",
      "name": "Sticky Note12"
    },
    {
      "parameters": {
        "content": "Inserta las 4 recomendaciones (ya limpias y aplanadas) como 4 documentos nuevos en la colección recomendaciones_ia_ig",
        "height": 288
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        2816,
        368
      ],
      "typeVersion": 1,
      "id": "564d0cb7-bc41-47a0-aca8-bb407c48d578",
      "name": "Sticky Note13"
    },
    {
      "parameters": {
        "content": "Toma las 4 listas de videos y las \"desenrolla\" en items de video individuales.",
        "height": 336,
        "width": 224
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        368,
        -32
      ],
      "typeVersion": 1,
      "id": "0efe73fa-8615-477b-9a23-7b18e4fb1602",
      "name": "Sticky Note14"
    },
    {
      "parameters": {
        "operation": "insert",
        "collection": "resumen_ia_ig",
        "fields": "=categoria,ciudad,texto",
        "options": {}
      },
      "type": "n8n-nodes-base.mongoDb",
      "typeVersion": 1.2,
      "position": [
        2880,
        480
      ],
      "id": "e55d0782-6713-4d54-bb77-4a3bc31ea8cc",
      "name": "Guardar Recomendaciones en MongoDB",
      "credentials": {
        "mongoDb": {
          "id": "kfT2nltyadM7X3nZ",
          "name": "MongoDB account 3"
        }
      }
    },
    {
      "parameters": {
        "content": "\"Desenrolla\" las 4 listas de palabras clave",
        "height": 320,
        "width": 208
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1968,
        32
      ],
      "typeVersion": 1,
      "id": "202a744f-15ee-4cb6-a9c6-3dc3bba85a7b",
      "name": "Sticky Note15"
    },
    {
      "parameters": {
        "content": "Asegura que las palabras clave sean recientes y evita sobreescrituras",
        "height": 336,
        "width": 224
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -592,
        -32
      ],
      "typeVersion": 1,
      "id": "51e0997f-5e76-41ab-a20a-5e5cbd71de0f",
      "name": "Sticky Note16"
    },
    {
      "parameters": {
        "operation": "delete",
        "collection": "PalabrasClave_IG"
      },
      "type": "n8n-nodes-base.mongoDb",
      "typeVersion": 1.2,
      "position": [
        -528,
        80
      ],
      "id": "2d5e19fc-cd64-45ac-9ef2-44a6aa0ceb09",
      "name": "Limpiar Palabras Clave IG",
      "credentials": {
        "mongoDb": {
          "id": "kfT2nltyadM7X3nZ",
          "name": "MongoDB account 3"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "\nconst itemsInput = $input.all();\n\n// Inicializamos los grupos\nconst grupos = {\n  \"Comida-Quito\": [],\n  \"Comida-Guayaquil\": [],\n  \"Ropa-Quito\": [],\n  \"Ropa-Guayaquil\": []\n};\n\n// Recorremos todos los items\nfor (const item of itemsInput) {\n  const data = item.json;\n\n  const categoria = data.categoria || \"\";\n  const ciudad = data.ciudad || \"\";\n\n  const claveGrupo = `${categoria}-${ciudad}`;\n\n  if (grupos[claveGrupo] && Array.isArray(data.comments)) {\n    for (const c of data.comments) {\n      if (c.text && typeof c.text === 'string' && c.text.trim() !== '') {\n        grupos[claveGrupo].push(c.text.trim());\n      }\n    }\n  }\n}\n\n// Convertimos los arrays en strings formateados\nconst resultado = Object.entries(grupos).map(([clave, comentarios]) => {\n  const textoFinal = comentarios\n    .map((txt, i) => `COMENTARIO ${i + 1}: ${txt}`)\n    .join('\\n\\n');\n\n  const [categoria, ciudad] = clave.split('-');\n\n  return {\n    json: {\n      categoria,\n      ciudad,\n      resumen_comentarios: textoFinal || \"(Sin comentarios disponibles)\"\n    }\n  };\n});\n\nreturn resultado;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1488,
        144
      ],
      "id": "b748aa22-29c5-4567-95fa-bd20b4b77ac7",
      "name": "Agrupar Comentarios por Segmento"
    },
    {
      "parameters": {
        "content": "Agrupa todos los comentarios y textos de CADA segmento en 4 items separados, listos para la IA.",
        "height": 320,
        "width": 208
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1424,
        32
      ],
      "typeVersion": 1,
      "id": "0c27e8a4-e1a3-4993-8cd3-8aea7463840b",
      "name": "Sticky Note17"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "models/gemini-2.0-flash-lite",
          "mode": "list",
          "cachedResultName": "models/gemini-2.0-flash-lite"
        },
        "messages": {
          "values": [
            {
              "content": "=Eres un analista de datos especializado en lenguaje natural y comportamiento del consumidor. \nTe proporcionaré un bloque de texto con muchos comentarios reales de redes sociales sobre una categoría y ciudad específicas. \nTu tarea es identificar las palabras o temas más relevantes y representativos que aparecen en esos comentarios, \nevitando palabras genéricas o poco informativas.\n\nPor favor, devuelve una lista limpia de al menos 6 términos o frases clave (pueden ser palabras o expresiones cortas), \nordenadas de mayor a menor relevancia semántica dentro del contexto.\n\n❌ NO incluyas palabras vacías o comunes como: que, la, el, de, y, o, con, para, por, etc.\n❌ NO incluyas palabras obvias del contexto como: ropa, camisa, vestido, pantalón, Ecuador, Quito, Guayaquil, comida, restaurante, local, etc.\n✅ Incluye solo palabras que reflejen ideas, emociones, críticas o detalles concretos que la gente menciona (ej. “servicio”, “espera larga”, “ambiente”, “precios altos”, “autenticidad”, “sabores tradicionales”) OJO NO INVENTES NADA, SOLO COSAS QUE REALMENTE EXISTAN EN LOS COMENTARIOS. LOS DOS PRIMEROS ELEMENTOS DEL ARRAY SIEMPRE PERO SIEMPRE SERAN LA CATEGORIA Y LA CIUDAD. ADEMAS ORDENANDOLO EN ORDEN DE PESO, PONIENDO (DESPUES DE LAS DOS PRIMERAS QUE SIEMPRE SERAN CATEGORIA Y CIUDAD) LA PALABRA QUE MAS RELEVANCIA O TENDENCIA TIENE Y LUEGO LA SIGUIENTE Y LA SIGUIENTE HASTA EL FINAL\n\nFormato de salida esperado:\n[ categoria\",\n  \"ciudad\",\n  \"término_1\",\n  \"término_2\",\n  \"término_3\",\n  \"término_4\",\n  \"término_5\",\n  \"término_6\",\n  ...\n  \"término_10\",\n]\n\nAquí está el bloque de comentarios:\n---\nCategoría: {{ $json.categoria }}\nCiudad: {{ $json.ciudad }}\nComentarios:\n{{ $json.resumen_comentarios }}\n---\n"
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1,
      "position": [
        1680,
        144
      ],
      "id": "2eca4106-090e-41ff-affd-9c8cd1e39eef",
      "name": "Extraer Palabras Clave (IA)",
      "credentials": {
        "googlePalmApi": {
          "id": "Zl27hkaxInl0HWv4",
          "name": "CUENTA PERSONAL"
        }
      }
    },
    {
      "parameters": {
        "content": "Envía los textos de cada segmento a Gemini. La IA devuelve 1 lista (array) de palabras clave relevantes por cada segmento.",
        "height": 320,
        "width": 304
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1648,
        32
      ],
      "typeVersion": 1,
      "id": "9750eb61-38df-426e-b69f-0e0f846a8938",
      "name": "Sticky Note18"
    },
    {
      "parameters": {
        "jsCode": "// 🧹 Limpia el texto entre ``` y ```json\nfunction cleanText(str) {\n  return str\n    .replace(/```json/g, \"\")\n    .replace(/```/g, \"\")\n    .replace(/,\\s*\\]/g, \"]\") // elimina comas sobrantes antes del cierre del array\n    .trim();\n}\n\n// ✅ Inicializamos la variable de salida\n/** @type {Array<{json: {categoria: string, ciudad: string, palabra: string, peso: number}}>} */\nconst resultados = [];\n\n// 🔹 Procesar cada item recibido (ya son varios)\nfor (const item of items) {\n  const text = item.json?.content?.parts?.[0]?.text;\n  if (!text) continue;\n\n  const cleaned = cleanText(text);\n\n  let arr;\n  try {\n    arr = JSON.parse(cleaned);\n  } catch (e) {\n    console.error(\"❌ Error parsing JSON:\", e);\n    continue;\n  }\n\n  if (!Array.isArray(arr) || arr.length < 3) continue;\n\n  const categoria = arr[0];\n  const ciudad = arr[1];\n  const palabras = arr.slice(2);\n\n  // 🔢 Asignar pesos decrecientes (primeras palabras tienen más relevancia)\n  const pesoMax = 10;\n  palabras.forEach((palabra, idx) => {\n    resultados.push({\n      json: {\n        categoria,\n        ciudad,\n        palabra,\n        peso: Math.max(pesoMax - idx, 1),\n      },\n    });\n  });\n}\n\n// ✅ Retornar los resultados finales\nreturn resultados;\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2032,
        144
      ],
      "id": "d93111a4-0cbf-4a39-9fd3-1d446789a48e",
      "name": "Aplanar y Ponderar Palabras Clave"
    },
    {
      "parameters": {
        "operation": "insert",
        "collection": "PalabrasClave_IG",
        "fields": "categoria,ciudad,palabra,peso",
        "options": {}
      },
      "type": "n8n-nodes-base.mongoDb",
      "typeVersion": 1.2,
      "position": [
        2256,
        144
      ],
      "id": "f73038bb-def2-46d6-84bd-6b12771d4993",
      "name": "Guardar Palabras Clave Aplanadas",
      "credentials": {
        "mongoDb": {
          "id": "kfT2nltyadM7X3nZ",
          "name": "MongoDB account 3"
        }
      }
    },
    {
      "parameters": {
        "content": "Inserta cada palabracomo una fila separada en la colección PalabrasClave_IG de MongoDB.",
        "height": 320,
        "width": 208
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        2192,
        32
      ],
      "typeVersion": 1,
      "id": "88c60164-5f0d-4864-8a01-d03876242740",
      "name": "Sticky Note19"
    }
  ],
  "pinData": {},
  "connections": {
    "Ejecutar Flujo Manualmente": {
      "main": [
        [
          {
            "node": "Limpiar Palabras Clave IG",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Limpiar Recomendaciones Antiguas": {
      "main": [
        [
          {
            "node": "Generar Búsquedas (Queries)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generar Búsquedas (Queries)": {
      "main": [
        [
          {
            "node": "Scrapear Reels de IG",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Scrapear Reels de IG": {
      "main": [
        [
          {
            "node": "Separar Listas de Videos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Separar Listas de Videos": {
      "main": [
        [
          {
            "node": "Filtrar Datos Crudos del Video",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filtrar Datos Crudos del Video": {
      "main": [
        [
          {
            "node": "Asignar Ciudad (Quito/GYE)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Asignar Ciudad (Quito/GYE)": {
      "main": [
        [
          {
            "node": "Asignar Categoría (Comida/Ropa)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Asignar Categoría (Comida/Ropa)": {
      "main": [
        [
          {
            "node": "Filtrar Datos para IA",
            "type": "main",
            "index": 0
          },
          {
            "node": "Agrupar Comentarios por Segmento",
            "type": "main",
            "index": 0
          },
          {
            "node": "Guardar Videos en MongoDB (Upsert)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Guardar Videos en MongoDB (Upsert)": {
      "main": [
        []
      ]
    },
    "Filtrar Datos para IA": {
      "main": [
        [
          {
            "node": "Agrupar Videos para IA (Batch)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Agrupar Videos para IA (Batch)": {
      "main": [
        [
          {
            "node": "Generar Recomendaciones (IA)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generar Recomendaciones (IA)": {
      "main": [
        [
          {
            "node": "Extraer Texto de la IA",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extraer Texto de la IA": {
      "main": [
        [
          {
            "node": "Particionar Recomendaciones",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Particionar Recomendaciones": {
      "main": [
        [
          {
            "node": "Guardar Recomendaciones en MongoDB",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Guardar Recomendaciones en MongoDB": {
      "main": [
        []
      ]
    },
    "Limpiar Palabras Clave IG": {
      "main": [
        [
          {
            "node": "Limpiar Recomendaciones Antiguas",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Agrupar Comentarios por Segmento": {
      "main": [
        [
          {
            "node": "Extraer Palabras Clave (IA)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extraer Palabras Clave (IA)": {
      "main": [
        [
          {
            "node": "Aplanar y Ponderar Palabras Clave",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aplanar y Ponderar Palabras Clave": {
      "main": [
        [
          {
            "node": "Guardar Palabras Clave Aplanadas",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "96eb915c-a964-4067-8125-7ebd91466706",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "84ac353e68fc84ff325eb30abf347157cf7efe7af446c4736ca746c5504b4005"
  },
  "id": "uR1ooNoCaXDWxcXM",
  "tags": []
}